GRAPHHOPPER_URL=http://localhost:8989
GRAPHHOPPER_TIMEOUT_SECONDS=60
SUGARGLIDER_GENERATION_MAX_EVALUATIONS=48
SUGARGLIDER_GENERATION_MAX_OPTIONAL_SNAP_DISPLACEMENT_M=300
SUGARGLIDER_LOW_OVERLAP_MAX_PATHS=3
SUGARGLIDER_LOW_OVERLAP_MAX_WEIGHT_FACTOR=1.6
SUGARGLIDER_LOW_OVERLAP_MAX_SHARE_FACTOR=0.5
SUGARGLIDER_LOW_OVERLAP_BEAM_WIDTH=12
SUGARGLIDER_LOW_OVERLAP_MAX_LEG_REQUESTS=48
SUGARGLIDER_LOW_OVERLAP_SOURCE_COUNT=2
